/*
    GROUP: Gym Buddy
    MEMBERS: ​Brenden Carroll, Stefani Page, Elina Tsykhmistrenko, Justin White, Hamza Zgidou​ 
    COURSE: CMSC 495:7383
    FILE: loginStyleSheet.css
    DATE: April 1, 2023
*/

html {
    background: linear-gradient(-45deg, #f6f8f7, #b6f3ff);
    /* background-color: #ffffff; */
    background-size: 250% 250%;
    height: auto
}

.logo {
    text-align: center;
    text-justify: center;
    width: 40%;
}

.defaultContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    align-items: center;
    justify-items: center;
    /* text-align: center; */
    /* text-justify: center; */
}

.grid1 {
    align-self: center;
    justify-self: center;
    text-align: center;
    text-justify: center;
}



.grid2 {
    background-color: #ffffff;
    padding: 20px 20px;
    border: #008ca8;
    border-style: solid;
    grid-row-start: 2;
    grid-row-end: 4;
    align-items: center;
    align-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    position: relative;
    text-align: center;
}   

.grid3 {
    /* display: inline-grid; */
    /* display: block; */
    grid-template-columns: 10%;
    /* justify-content: center; */
    /* align-content: center; */
    background-color: #ffffff;
    padding: 20px 20px;
    border: #008ca8;
    border-style: solid;
}

.centerAll {
    /* display: block; */
    text-align: center;
    text-justify: center;
    align-content: center;
    justify-content: center;
    justify-items: auto;
    align-items: center;
}

/* input {
    width: 90%;
    padding: 15px 20px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #008ca8;
    box-sizing: border-box;
    border-radius: 25px;
    
} */

#defaultInput {
    width: 90%;
    padding: 15px 20px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #008ca8;
    box-sizing: border-box;
    border-radius: 25px;
    
}

input.createAccInput {
    width: 100%;
    padding: 15px 20px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #008ca8;
    box-sizing: border-box;
    border-radius: 25px;
    
}

select.createAccInput {
    width: 100%;
    padding: 15px 20px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #008ca8;
    box-sizing: border-box;
    border-radius: 25px;
    
}

button {
    background-color: #008ca8;
    color: white;
    padding: 15px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


button:hover {
    opacity: 90%;
}

h1 {
    font-family: 'Roboto';
    color: #008ca8;
}

h2 {
    font-family: 'Roboto';
}

#forgot {
    font-family: 'Roboto';
}

#createAccountTitle {
    margin-left: 5em;
    margin-right: 5em;
}

#defaultLabel {
    padding: 15px 20px;
    font-family: 'Roboto';
    text-justify: left;
    text-align: left;
    align-items: left;
    align-content: left;
}
