<!DOCTYPE html>
<!--
    GROUP: Gym Buddy
    MEMBERS: ​Brenden Carroll, Stefani Page, Elina Tsykhmistrenko, Justin White, Hamza Zgidou​ 
    COURSE: CMSC 495:7383
    FILE: createAccount.html
    DATE: April 1, 2023
-->
 <html>
    <head>
        <!-- <link rel="stylesheet" href="..\css\findBuddy.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/findBuddy.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> 
    </head>

    <body>        
        <div class="container">
            <div class="grid1">
                <h1 id="createAccountTitle">Gym Buddy</h1>
                <h2>Select Exercises</h2>
                <p class="error"><strong>{{currentUserName}}</strong>
            </div>
            <div class="grid2">
                <div class="scrollable">
                    <form id="exerciseForm" method="post">

                        {% for exercise in exercises %}
                        
                        <input type="checkbox" id="{{ exercise.name }}" name="{{ exercise.name }}" value="{{ exercise.name }}">
                        <label id="defaultLabel" for="{{ exercise.name }}">{{ exercise.name }}</label><br>

                        {% endfor %}

                        <!--
                        <input type="checkbox" id="Triceps" name="triceps" value="triceps">
                        <label id="defaultLabel" for="Triceps">Triceps</label><br>     
                        -->                                   

                    </form>
                </div>
            </div>
            <div class="grid3">
                <button id="startSearch" type="submit" form="exerciseForm">Accept</button>                    
                <a href="{{ url_for('main_views.profilePage', userID=id) }}"> <button id="cancelSearch" type="button">Cancel</button></a>
            </div>
        </div>
        <!-- <script src="{{ url_for('static', filename='js/findBuddy.js')}}"></script> -->
        <!-- <script src="..\js\findBuddy.js"></script> -->
    </body>
    
</html>