<!DOCTYPE html>
<!--
    GROUP: Gym Buddy
    MEMBERS: ​Brenden Carroll, Stefani Page, Elina Tsykhmistrenko, Justin White, Hamza Zgidou​ 
    COURSE: CMSC 495:7383
    FILE: findBuddy.html
    DATE: April 12, 2023
-->
 <html>
    <head>
        <!--
        STYLE/SCRIPT REFERENCES
            CSS: findBuddy.css
            FONT: Roboto font from Google.
            JS: notification.js
        --> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/findBuddy.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/notifications.js')}}"></script>
    </head>

    <body>
        <!-- ALERT: alert notifications for new messages/matches -->     
        <div class="alert" id="alert-div" style="width: 100%;">
            <p class="alert-text" id="alert-container" style="display: none; justify-content: space-between; width: 100%; background-color: lightsalmon;"><span id="alert-type" style="font-weight: bold;"></span> | <span id="alert-message" style="overflow: hidden;"></span><span class="close-btn" style="float: right; font-size: 20px; transition: 0.2s; font-weight: bold; cursor: pointer; margin-left: auto; margin-right: 5px;" onclick="this.parentElement.style.display='none'">&times;</span></p>
        </div>
        <!-- CONTAINER: main grid container -->
        <div class="container">
            <!-- NAVBAR: Navigation Bar -->
            <div class="navBar">
                <ul class="navList">
                    <li><a title="Home" id="home" href="{{ url_for('main_views.profilePage', userID=id) }}">&#x1F3E0</a></li>
                    <li><a title="Messages" id="mail" href="{{ url_for('auth.messagesPage') }}">&#x1F4EC</a></li>                    
                    <li><a title="Logout" id="logout" href="{{ url_for('auth.logout') }}">👋</a></li>
                </ul>
            </div>
            <!-- GRID1: Title -->
            <div class="grid1">
                <h1 id="createAccountTitle">Gym Buddy</h1>
                <h2>Find Buddy - Your Routine</h2>
            </div>
            <!-- GRID2: Find Buddy Routine Drop-Down list -->
            <div class="grid2">
                <!-- SCROLLABLE: Find Buddy Routine Drop-Down list -->
                <div class="scrollable">
                    <h3> Enter your exercise routine: </h3>
                    <hr>
                    <!-- 
                    EXERCISE FORM: 
                    JINJA LOGIC: 
                        to populate routine drop-down menus from DB
                    -->
                    <form id="exerciseForm" method="post" name="exer">
                        {% set ns = namespace(count = 1) %}
                        {% for exercise in exercises %}                       
                            {% if ns.count <= limit %}
                            <label for="exerciseDropDown" id="exerciseDropDownLbl">{{ns.count}}:</label>
                            <select class="findBuddyOption" id="exerciseDropDown" name="{{ ns.count }}">
                                <option value="None">None</option>
                                {% for exercise in exercises %}
                                    <option value="{{ exercise.name }}" name="{{ exercise.name }}">{{ exercise.name }}</option>
                                {% endfor %}
                                <option value="Break">Break</option>
                            </select>
                            <br>
                            {% endif %}
                            {% set ns.count = ns.count + 1 %}                                                        
                        {% endfor %}
                    </form>
                </div>
            </div>
            <!-- GRID3: Search and Cancel buttons -->
            <div class="grid3">
                <button id="startSearch" type="submit" form="exerciseForm">Accept</button>                    
                <a href="{{ url_for('main_views.profilePage', userID=id) }}"> <button id="cancelSearch" type="button">Cancel</button></a>
            </div>
        </div>
    </body>
</html>