<!DOCTYPE html>
<!--
    GROUP: Gym Buddy
    MEMBERS: ​Brenden Carroll, Stefani Page, Elina Tsykhmistrenko, Justin White, Hamza Zgidou​ 
    COURSE: CMSC 495:7383
    FILE: matchesPage.html
    DATE: April 16, 2023
-->
 <html>
    <head>
        <!-- <link rel="stylesheet" href="..\css\findBuddy.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/matchesPage.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/notifications.js')}}"></script>
    </head>

    <body>
      <div class="alert" id="alert-div" style="width: 100%;">
        <p class="alert-text" id="alert-container" style="display: none; justify-content: space-between; width: 100%; background-color: lightsalmon;"><span id="alert-type" style="font-weight: bold;"></span> | <span id="alert-message" style="overflow: hidden;"></span><span class="close-btn" style="float: right; font-size: 20px; transition: 0.2s; font-weight: bold; cursor: pointer; margin-left: auto; margin-right: 5px;" onclick="this.parentElement.style.display='none'">&times;</span></p>
      </div>        
        <div class="container">
          <div class="navBar">
            <ul class="navList">
                <li><a title="Home" id="home" href="{{ url_for('main_views.profilePage', userID=id) }}">&#x1F3E0</a></li>
                <li><a title="Messages" id="mail" href="{{ url_for('auth.messagesPage') }}">&#x1F4EC</a></li>                    
                <li><a title="Logout" id="logout" href="{{ url_for('auth.logout') }}">👋</a></li>
                <!-- <li><a title="Logout" id="logout" href="#logout">&#x1F44B</a></li> -->
            </ul>
          </div>
            <div class="grid1">
                <h1 id="createAccountTitle">Gym Buddy</h1>
                <h2>Your Matches</h2>
                <p class="error"><strong>{{currentUserName}}</strong>
            </div>
            <div class="grid2">
                <div class="scrollable">
                    {% for buddy in matches %}                     
                    <a href="/message/{{ buddy[0].id }}" id="match" class="match">
                        <div class="matchBoxes">
                            <div>
                                <img id="profilePic" src="{{ url_for('static', filename='profPics/' + buddy[0].profilePic)}}"></img>
                            </div>
                            <div>
                                <p id="matchInfoName">{{ buddy[0].prefname }}</p>
                                <hr>                            
                                <p id="matchInfo">Preferred Gym: {{ buddy[0].preferredGym }}</p>
                                <p id="matchInfo">Gender: {{ buddy[0].gender }} | DoB: {{ buddy[0].dob }} </p>
                                <p id="matchInfo">Percent Match: {{ buddy[2] }}%</p>                       
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="grid3">                  
                <a href="{{ url_for('main_views.profilePage', userID=id) }}"> <button id="cancelSearch" type="button">Return To Profile</button></a>
                <a href="{{ url_for('auth.leavepool') }}"> <button id="leavePool" type="button">Leave Pool</button></a>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/messageList.js')}}"></script>
    </body>    
</html>