<!DOCTYPE html>
<!--
    GROUP: Gym Buddy
    MEMBERS: ​Brenden Carroll, Stefani Page, Elina Tsykhmisdivenko, Justin White, Hamza Zgclassou​ 
    COURSE: CMSC 495:7383
    FILE: profilePage.html
    DATE: April 1, 2023
-->

 <html>
    <head>
        <!-- <link rel="stylesheet" href="..\css\profilePage.css"> -->
        <link rel="stylesheet" href="static/css/mainStyleSheet.css">
        <link rel="stylesheet" href="static/css/profilePage.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/notifications.js')}}"></script>
    </head>
    
    <body>
        <!DOCTYPE html>
<html>
  <div class="alert" id="alert-div" style="width: 100%;">
    <p class="alert-text" id="alert-container" style="display: none; justify-content: space-between; width: 100%; background-color: lightsalmon;"><span id="alert-type" style="font-weight: bold;"></span> | <span id="alert-message" style="overflow: hidden;"></span><span class="close-btn" style="float: right; font-size: 20px; transition: 0.2s; font-weight: bold; cursor: pointer; margin-left: auto; margin-right: 5px;" onclick="this.parentElement.style.display='none'">&times;</span></p>
  </div>
  <head>
    <title>Messages Received</title>
  </head>
  <body>
    <h1>Messages Received</h1>
    <div class="msg-list box">
      {% for messagepair in messagepairs %}
        {% if messagepair[1].seen %}
          <div class="msg-card box" style="background-color: lightgray;">
            <div><a href="/message/{{ messagepair[0].id }}">{{ messagepair[0].prefname }}</a></div>
            <div>{{ messagepair[1].time }}</div>
            <div>{{ messagepair[1].contents[:30] }}</div>
          </div>
        {% else %}
          <div class="msg-card box" style="background-color: lightcoral;">
            <div><a href="/message/{{ messagepair[0].id }}">{{ messagepair[0].prefname }}</a></div>
            <div>{{ messagepair[1].time }}</div>
            <div>{{ messagepair[1].contents[:30] }}</div>
          </div>
        {% endif %}
      {% endfor %}
      <!--
      <div class="msg-card box">
        <div><a href="conversation.html">Profile 1</a></div>
        <div>Date</div>
        <div>Some Text</div>
      </div>
      <div class="msg-card box">
        <div><a href="conversation.html">Profile 2</a></div>
        <div>Date</div>
        <div>Some Text</div>
      </div>
      <div class="msg-card box">
        <div><a href="conversation.html">Profile 3</a></div>
        <div>Date</div>
        <div>Some Text</div>
      </div>
      -->
    </div>
  </body>
</html>
        <script src="main.js"></script>
    </body>
</html>