<!DOCTYPE html>
<!--
    GROUP: Gym Buddy
    MEMBERS: ​Brenden Carroll, Stefani Page, Elina Tsykhmistrenko, Justin White, Hamza Zgidou​ 
    COURSE: CMSC 495:7383
    FILE: createAccount.html
    DATE: April 1, 2023
-->
 <html>
    <head>
        <!-- <link rel="stylesheet" href="..\css\findBuddy.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/messageList.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/notifications.js')}}"></script>
    </head>

    <body>
      <div class="alert" id="alert-div" style="width: 100%;">
        <p class="alert-text" id="alert-container" style="display: none; justify-content: space-between; width: 100%; background-color: lightsalmon;"><span id="alert-type" style="font-weight: bold;"></span> | <span id="alert-message" style="overflow: hidden;"></span><span class="close-btn" style="float: right; font-size: 20px; transition: 0.2s; font-weight: bold; cursor: pointer; margin-left: auto; margin-right: 5px;" onclick="this.parentElement.style.display='none'">&times;</span></p>
      </div>        
        <div class="container">
            <div class="grid1">
                <h1 id="createAccountTitle">Gym Buddy</h1>
                <h2>Your Inbox</h2>
                <p class="error"><strong>{{currentUserName}}</strong>
            </div>
            <div class="grid2">
                <div class="scrollable">                    
                  {% for messagepair in messagepairs |reverse%}
                    {% if messagepair[1].seen %}
                    <a href="/message/{{ messagepair[0].id }}" id="messagesBoxUnread" class="msgBoxUnread">
                      <div class="msg-card-box">
                        <object>
                          <a href="/profilePage/{{ messagepair[0].id }}">
                            <div id="from">
                              From: {{ messagepair[0].prefname }}
                            </div>
                          </a>
                        </object>
                        <div id="on">On: {{ messagepair[1].time }}</div>
                        <hr>
                        <div id="subj">{{ messagepair[1].contents[:30] }}</div>
                      </div>
                    </a>
                    {% else %}
                    <a href="/message/{{ messagepair[0].id }}" id="messagesBox" class="msgBox">
                      <div class="msg-card-box-unread">
                        <object>
                          <a href="/profilePage/{{ messagepair[0].id }}">
                            <div id="from">
                              From: {{ messagepair[0].prefname }}
                            </div>
                          </a>
                        </object>
                        <div id="on">On: {{ messagepair[1].time }}</div>
                        <hr>
                        <div id="subj">{{ messagepair[1].contents[:30] }}</div>
                      </div>
                    </a>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
            <div class="grid3">                  
                <a href="{{ url_for('main_views.profilePage', userID=id) }}"> <button id="cancelSearch" type="button">Return To Profile</button></a>
            </div>
        </div>
        <!-- <script src="{{ url_for('static', filename='js/findBuddy.js')}}"></script> -->
        <!-- <script src="..\js\findBuddy.js"></script> -->
    </body>
    
</html>