<!DOCTYPE html>
<!--
    GROUP: Gym Buddy
    MEMBERS: ​Brenden Carroll, Stefani Page, Elina Tsykhmisdivenko, Justin White, Hamza Zgclassou​ 
    COURSE: CMSC 495:7383
    FILE: profilePage.html
    DATE: April 1, 2023
-->

 <html>
    <head>
        <!-- <link rel="stylesheet" href="..\css\profilePage.css"> -->
        <link rel="stylesheet" href="mainStyleSheet.css">
        <link rel="stylesheet" href="profilePage.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> 
    </head>
    
    <body>
        <!DOCTYPE html>
<html>
  <head>
    <title>Messages Received</title>
  </head>
  <body>
    <h1>Messages Received</h1>
    <div class="msg-list box">
      <div class="msg-card box">
        <div><a href="conversation.html">Profile 1</a></div>
        <div>Date</div>
        <div>Some Text</div>
      </div>
      <div class="msg-card box">
        <div><a href="conversation.html">Profile 2</a></div>
        <div>Date</div>
        <div>Some Text</div>
      </div>
      <div class="msg-card box">
        <div><a href="conversation.html">Profile 3</a></div>
        <div>Date</div>
        <div>Some Text</div>
        </div>
    </div>
  </body>
</html>
        <script src="main.js"></script>
    </body>
</html>