<!DOCTYPE html>
<!--
    GROUP: Gym Buddy
    MEMBERS: ​Brenden Carroll, Stefani Page, Elina Tsykhmistrenko, Justin White, Hamza Zgidou​ 
    COURSE: CMSC 495:7383
    FILE: login.html
    DATE: April 1, 2023
-->
 <html>
    <head>
        <!-- <link rel="stylesheet" href="..\css\mainStyleSheet.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mainStyleSheet.css')}}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> 
    </head>
    
    <body>

            <div class="defaultContainer">
                <div class="grid1">
                    <img src="{{ url_for('static', filename='imgs/GymLogo.png')}}" class="logo">
                </div>
                
                <div class="grid2">
                        <h1>
                            Welcome to Gym Buddy!
                        </h1> 
                        {% if error %}
                            <p class="error"><strong>{{error}}</strong>
                        {% endif %}                        
                        <button id="loginBtn" type="button">Login</button>              
                </div>
                
            </div>
            <!-- <script src="..\js\loginPage.js"></script> -->
            <script src="{{ url_for('static', filename='js/welcomePage.js')}}"></script>

    </body>
    
</html>