/*
    GROUP: Gym Buddy
    MEMBERS: ​Brenden Carroll, Stefani Page, Elina Tsykhmistrenko, Justin White, Hamza Zgidou​ 
    COURSE: CMSC 495:7383
    FILE: findBuddy.css
    DATE: April 8, 2023
    REFERENCED BY:
        - findBuddy.html
*/


/* 
    HTML/BODY
    Handles Background of entire page,
    and overflow (hidden).
*/
html {
    background: linear-gradient(-45deg, #f6f8f7, #b6f3ff);
    background-color: #ffffff;
    background-size: 250% 250%;
    height: auto;
}

body {
    overflow: hidden;
}

/* 
    GRID LAYOUT
    Container - Main container
    navBar - navigation bar    
    grid1 - title box
    grid2 - main dispaly area
    (grid2) scrollable - handles scroll feature inside grid2 
    grid3 - buttons/inputs
 */
.container {
    height: 98vh;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 60px 120px 1fr 130px;
    justify-content: center;
    gap: 1px;
}

.navBar {
    grid-row: 1 / 2;
    background-color: #008ca8;
    border-radius: 25px;
    list-style: none;
    text-align: center;
}

.grid1 {
    grid-row: 2 / 3;
    background-color: #ffffff;
    border: #008ca8;
    border-style: solid;
}

.grid2 {
    grid-row: 3 / 4;
    display: grid;
    background-color: #ffffff;
    border: #008ca8;
    border-style: solid;
    overflow: hidden;
}

.scrollable {
    overflow-y: scroll;
    padding: 20px;
}

.grid3 {
    grid-row: 4 / 5;
    background-color: #ffffff;
    border: #008ca8;
    border-style: solid;
}

/* 
    NAVBAR LIST
    Navbar objects formatting.
*/
.navList li {
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
    padding-left: 5px;
    font-size: xx-large;
}

/*
    HEADERS & TEXT
    Text/font formats and colors.
*/
h1 {
    font-family: 'Roboto';
    color: #008ca8;
    text-align: center;
}

h2 {
    font-family: 'Roboto';
    text-align: center;
}

h3 {
    font-family: 'Roboto';
    text-align: center;
}

#defaultLabel {
    font-family: 'Roboto';
}

/* 
    BUTTON FORMATTING
    Button formatting and hover actions.
*/
button {
    background-color: #008ca8;
    color: white;
    padding: 15px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

button:hover {
    opacity: 90%;
}

/*
    EXERCISE FORM
    Form justification to center content
*/
#exerciseForm {
    justify-content: center;
}

/*
    SELECT (DROP-DOWN)
    Handles drop down formatting
*/
select.findBuddyOption {
    width: 95%;
    padding: 15px 20px;
    margin-bottom: 5px;
    display: inline-flex;
    border: 1px solid #008ca8;
    border-radius: 25px;
    background-color: #008ca8;
    color: white;
    justify-content: center;
}