/*
    GROUP: Gym Buddy
    MEMBERS: ​Brenden Carroll, Stefani Page, Elina Tsykhmistrenko, Justin White, Hamza Zgidou​ 
    COURSE: CMSC 495:7383
    FILE: mainStyleSheet.css
    DATE: April 1, 2023
    REFERENCED BY:
        - login.html
        - createAccount.html
        - profPicUpload.html
        - profSuccess.html 
        - splashPage.html
        - welcomePage.html
*/


/* 
    HTML/BODY
    Handles Background of entire page,
    and overflow (hidden).
*/
html {
    background: linear-gradient(-45deg, #f6f8f7, #b6f3ff);
    background-size: 250% 250%;
    height: auto
}

/*
    LOGO FORMATTING
*/
.logo {
    text-align: center;
    text-justify: center;
    width: 40%;
}

/*  
    GRID LAYOUT 
    (varies based on html referencing this sheet):
    defaultContainer - Main container
    grid1 - title box/Logo
    grid2 - main dispaly area
    grid3 - buttons/inputs
 */
.defaultContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    align-items: center;
    justify-items: center;

}

.grid1 {
    align-self: center;
    justify-self: center;
    text-align: center;
    text-justify: center;
}

.grid2 {
    background-color: #ffffff;
    padding: 20px 20px;
    border: #008ca8;
    border-style: solid;
    grid-row-start: 2;
    grid-row-end: 4;
    align-items: center;
    align-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    position: relative;
    text-align: center;
}

.grid3 {
    grid-template-columns: 10%;
    background-color: #ffffff;
    padding: 20px 20px;
    border: #008ca8;
    border-style: solid;
}

/*  
    HELPER CLASS
    centers all.
*/
.centerAll {
    text-align: center;
    text-justify: center;
    align-content: center;
    justify-content: center;
    justify-items: auto;
    align-items: center;
}

/*
    PROFILE PICTURE INPUT    
    Handles input for profile picture.
*/
input.profPicIn {
    width: 90%;
    padding: 15px 20px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;

}

/*
    DEFAULTS
    Default label and input formatting.
*/
#defaultInput {
    width: 90%;
    padding: 15px 20px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #008ca8;
    box-sizing: border-box;
    border-radius: 25px;

}

#defaultLabel {
    padding: 15px 20px;
    font-family: 'Roboto';
    text-justify: left;
    text-align: left;
    align-items: left;
    align-content: left;
}

/*
    CREATE ACCOUNT FORMATTING
    Formatting for create Account:
    Input fields and selector (drop-down) fields.
*/
input.createAccInput {
    width: 100%;
    padding: 15px 20px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #008ca8;
    box-sizing: border-box;
    border-radius: 25px;
}

select.createAccInput {
    width: 100%;
    padding: 15px 20px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #008ca8;
    box-sizing: border-box;
    border-radius: 25px;
}

#createAccountTitle {
    margin-left: 5em;
    margin-right: 5em;
}

/* 
    BUTTON FORMATTING
    Button formatting and hover actions.
    Includes file-selctor-button formatting for profile pic upload.
*/
input::file-selector-button,
button {
    background-color: #008ca8;
    color: white;
    padding: 15px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    opacity: 90%;
}

/*
    HEADERS & TEXT
    Text/font formats and colors.
*/
h1 {
    font-family: 'Roboto';
    color: #008ca8;
}

h2 {
    font-family: 'Roboto';
}

#forgot {
    font-family: 'Roboto';
}

.error {
    /*Error message font*/
    font-family: 'Roboto';
    color: red;
}

/* MESSAGE LAYOUT */

/* .box {
    margin: 25px;
    border: 1px solid black;
}

.msg-card {
    margin: 5px;
    border-width: 5px;
    border: aquamarine;
    background: beige;
    padding: 5px;
    background-color: #6fa8dc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    
}

.msg-list {
    display: flex;
    flex-direction: column-reverse;
    max-width: 60%;
}
.send-btn {
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.send-btn:hover {
    background-color: darkblue;
  }

.msg-card {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
html {
    font-size: 20px;
} */