/*
    GROUP: Gym Buddy
    MEMBERS: ​Brenden Carroll, Stefani Page, Elina Tsykhmistrenko, Justin White, Hamza Zgidou​ 
    COURSE: CMSC 495:7383
    FILE: messageList.css
    DATE: April 8, 2023
    REFERENCED BY:
        - messageList.html
*/

/* 
    HTML/BODY
    Handles Background of entire page,
    and overflow (hidden).
*/
html {
    background: linear-gradient(-45deg, #f6f8f7, #b6f3ff);
    background-color: #ffffff;
    background-size: 250% 250%;
    height: auto;
}
body {
    overflow: hidden;
}

/* 
    GRID LAYOUT
    Container - Main container
    navBar - navigation bar    
    grid1 - title box
    grid2 - main dispaly area
    (grid2) scrollable - handles scroll feature inside grid2 
    grid3 - buttons/inputs
 */
.container {
    height: 98vh;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 60px 120px 1fr 130px;
    justify-content: center;
    gap: 1px;
}
.navBar {
    grid-row: 1 / 2;
    background-color: #008ca8;
    border-radius: 25px;
    list-style: none;
    text-align: center;
}
.scrollable {
    overflow-y: scroll;
    padding: 20px;
}
.grid1 {
    grid-row: 2 / 3;
    background-color: #ffffff;
    border: #008ca8;
    border-style: solid;
}
.grid2 {
    grid-row: 3 / 4;
    display: grid;
    background-color: #ffffff;
    border: #008ca8;
    border-style: solid;
    overflow: hidden;
}
.grid3 {
    grid-row: 4 / 5;    
    background-color: #ffffff;
    border: #008ca8;
    border-style: solid;
}

/* 
    NAVBAR LIST
    Navbar objects formatting.
*/
.navList li {
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
    padding-left: 5px;
    font-size: xx-large;
}

/*
    MESSAGES
    Formatting for messages in user's inbox.
*/
.msg-card-box {
    background-color: #ffffff;
    padding: 10px;
    font-family: 'Roboto';
    justify-self: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.msg-card-box-unread {
    background-color: lightskyblue;
    padding: 10px;
    font-family: 'Roboto';
    justify-self: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.msgBox{
    padding: 5px;
    text-decoration: none;
}
.msgBoxUnread {
    padding: 5px;
    text-decoration: none;
}
#from,
#on {
    text-decoration: none;
    font-family: 'Roboto';
    color:black;  
}
#from:hover {
    opacity: 40%;
}
#subj {
    font-family: 'Roboto';
    color: #008ca8;
}
#matchesList {
    list-style-type: none;
    border-style: solid;
    padding: 5px;
    color: #008ca8;
}
.profilePic {
    border-radius: 50%;
    width: 30px; 
    height: 30px;
}

/* 
    BUTTON FORMATTING
    Button formatting and hover actions.
*/
button {
    background-color: #008ca8;
    color: white;
    padding: 15px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
button:hover {
    opacity: 90%;
}

/*
    HEADERS & TEXT
    Text/font formats and colors.
*/
h1 {
    font-family: 'Roboto';
    color: #008ca8;
    text-align: center;
}

h2 {
    font-family: 'Roboto';
    text-align: center;
}
h3 {
    font-family: 'Roboto';
    text-align: center;
}
h4 {
    font-family: 'Roboto';
    text-align: left;
    margin-left: 10px;
    margin-right: 10px
}
a {
    text-decoration: none;
}
hr {
    opacity: 70%;
    color: #008ca8;
}
#defaultLabel {
    font-family: 'Roboto';
}